body{
	padding-top: 200Spx;
	background-color: #dcecea;
	font-size: 14px;
	letter-spacing: 2px;
    display: block;
    font-weight: 300;
    position: relative;
}
.navbar-header .navbar-brand{
	font-family: 'Lobster', cursive;
	font-size: 1.8em;
	color: red;
}
.navbar-1{
	background: #2c3e50;
	font-size: 1.3em;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e69c9c;
}
/*nav ul a {
    font-size:1.1em;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}*/