.introduction{
	margin-top: 150px;
	background-color: blue;
	width: 100%;
}
/*page 1*/
.pageOne{
	margin-top: 40px;
	height: 800px;
	background-size: cover;
	background-image: url("image/background.jpg");
}
.thick-green-border {
    border-color: red;
    border-width: 4px;
    border-style: solid;
    border-radius: 47%;
  }

 #contant{
	text-align: center;
	padding: 5px;
	margin-top: 7%;
	background-color: #42f4eb;
	border-radius: 80px;
	opacity: 0.93;
	text-shadow: 0px 2px 3px #3d0b0b,
				 0px 5px 7px black,
				 0px 8px 9px #721919;

}
.thumbnail{
	width: 170px;
	background-color: #c5eada;
}
hr{
	height: 10px;
	width:40%;
	border: 0;
	box-shadow: 0 10px 10px -10px #254912 inset;
}

.col-lg-12{
	padding: 8%;
}
.btn-1{
	color:green;
}
.btn-2{
	color: orange;
}

/*page 2*/
#pageTwo{
	height: 700px;
	background-size: cover;
	background-image: url("https://images.unsplash.com/photo-1500352288169-55a8fb9bdbeb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=hugo-villegas-314118.jpg&s=8aabe61ab77a718a0ab97c103b286e7b");
}
.well{
	width: 30%;
	padding-top: 10px;
	float: center;
}
.pageTwo_1{
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    padding: 30px 30px;
    text-align: center;
}
.image-frame{
  position:relative;
  z-index:1;
  display:inline-block;
}
.image-frame img{
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.image-frame:before, .image-frame::after{
  -webkit-box-shadow: 0 0 7px 4px rgba(104, 104, 104, 0.5);
box-shadow: 0 0 7px 4px rgba(104, 104, 104, 0.5);
content: " ";
display: table;
width: 49%;
height: 0;
position: absolute;
bottom: 6px;
z-index: -2;
}
.image-frame:before {
left: 4px;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.image-frame:after {
right: 4px;
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
}

/*page 3*/
h4{
	
	padding-top: 20px;
	padding-bottom: 20px;
}

*:before, *:after { content: ''; }
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}
/* Shine */
.shine {
  height: 20px;
  width: 60%;
  background-image: radial-gradient(
    farthest-side at 50% -50%,
    hsla(0, 0%, 0%, 0.5),
    hsla(0, 0%, 0%, 0));
  position: relative; 
}

.shine::before {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.75) 50%,
    hsla(0, 0%, 0%, 0));
}
/*page 4*/




/*Footer Style*/
.h6{
	color:#c9f7be;
	margin-top: 50px;
}
footer {
            background-color: #2c3e50;
            font-family: 'Saira', sans-serif;
        }

#justpushtobottom {
    height: 40vh;
}

.fa-twitter {
    color: #4099FF;
}
.fa-facebook {
    color: #3B5998;
}
.fa-google-plus-square {
    color: #e52d27;
}
.fa-quora {
    color: #ff0084;
}
.fa-linkedin {
    color: orange;
}
.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}